#map {
  background-image: url('gameMap.png');
  background-position: 50% 50%;
  width: 90vw;
  height: 100%;
  max-height:40vw;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top:60px;
  margin-bottom:60px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

#sequence {
  position:fixed;
  top:20px;
  background-color:white;
  color:black;
  padding:10px;
  font-size:20px;
  width:200px;
  /*margin-left:auto;
  margin-right:auto;*/
  left:50%;
  transform:translateX(-50%);
  text-align:center;
}

#game-title {
  font-family:Arial, sans-serif;
  color:white;
  font-weight:lighter;
}

#cloud {
  background-image: url('cloud9.png');
  background-size: contain;
  background-repeat:no-repeat;
  width:20vw;
  height:10vh;
  max-width:213px;
  max-height:119px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%)translateY(-50%);
  transition:all 0.5s;
}

.players {
  display: flex;
  width: 100vw;
  padding-left:0;
  list-style:none;
}

.players .player {
  display: inline-block;
  flex-grow: 1;
  height:50px;
  padding:5px;
  text-align:center;
}

.players .player .name {
  display:block;
  color:white;
  font-size:20px;
}

.players.player .score {
  display:inline-block;
}

body {
font-family:Arial, sans-serif;
color:white;

background: #7abcff; /* Old browsers */
background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}
